/*
- Alkali metals.
- Alkaline earth metals.
Rare earth metals.
Crystallogens.
Pnictogens.
Chalcogens.
Halogens.
Noble gases. */

:root {

  --palette-color-1: 158,1,66;
  --palette-color-2: 213,62,79;
  --palette-color-3: 244,109,67;
  --palette-color-4: 253,174,97;
  --palette-color-5: 254,224,139;
  --palette-color-6: 255,255,191;
  --palette-color-7: 230,245,152;
  --palette-color-8: 171,221,164;
  --palette-color-9: 102,194,165;
  --palette-color-10: 50,136,189;
  --palette-color-11: 94,79,162;

  --background-opacity: 0.3;
  --background-hover-opacity: 0.4;

  --unmatched-color: 150, 150, 150;
  --unknown-color: 103, 103, 103;

  --alkali-metal-color: var(--palette-color-9);
  --alkaline-earth-metal-color: var(--palette-color-3);
  --transition-metal-color: var(--palette-color-11);
  --post-transition-metal-color: var(--palette-color-8);
  --metalloid-color: var(--palette-color-5);

  /* reactive non-metal */
  --diatomic-nonmetal-color: var(--palette-color-10);
  --polyatomic-nonmetal-color: var(--palette-color-10);

  --noble-gas-color: var(--palette-color-2); 
  --lanthanide-color: var(--palette-color-11);
  --actinide-color: var(--palette-color-4);

  --element-height: 60px;
  --element-width: 60px;
  --element-spacing: 3px;
  --element-font-size: 10px;

  --button-background-color:#d8d8d8;
  --button-background-hover-color:#bebdbd;
  --button-font-size: 12px;
  --body-font-size: 12px;
  --button-height: 25px;

  --container-margin: 20px 0;
  --form-margin: 10px 0;
}

@media (min-width: 481px) {
  :root {
    --element-height: 80px;
    --element-width: 80px;
    --element-spacing: 4px;
    --element-font-size: 13px;

    --button-height: 28px;
    --button-font-size: 13px;
    --body-font-size: 12px;

    --container-margin: 40px 0;
    --form-margin: 15px 0;
  }
}

@media (min-width: 769px) {
  :root {
    --element-height: 100px;
    --element-width: 100px;
    --element-spacing: 5px;
    --element-font-size: 16px;

    --button-height: 28px;
    --button-font-size: 14px;
    --body-font-size: 14px;

    --container-margin: 100px 0;
    --form-margin: 30px 0;
  }
}

body, html {
  height: 100%;
}

body {
  font-family: arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--body-font-size);
}

.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin: var(--container-margin);
  max-width: 960px;
}

.elements {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.element {
  flex: 0 1 auto;
  /* border: solid 1px; */
  height: var(--element-height);
  width: var(--element-width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: var(--element-font-size);
  text-transform: capitalize;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;

  margin-right: var(--element-spacing);
  margin-bottom: var(--element-spacing);
  padding: var(--element-spacing);
  border-radius: var(--element-spacing);
}

.element--unmatched {
  color: rgba(var(--unmatched-color), 1);
  background-color: rgba(
    var(--unmatched-color),
    var(--background-opacity));
}

.element--unmatched {
  background-color: none;
}

.element--alkali-metal {
  color: #577b6e;
  /* rgba(var(--alkali-metal-color), 1); */
  background-color: rgba(
    var(--alkali-metal-color),
    0.6);
}
.element--alkali-metal:hover {
  background-color: rgba(
    var(--alkali-metal-color),
    0.7);
}

.element--alkaline-earth-metal {
  color: #b45d43;
  /* rgba(var(--alkaline-earth-metal-color), 1); */
  background-color: rgba(
    var(--alkaline-earth-metal-color),
    var(--background-opacity));
}
.element--alkaline-earth-metal:hover {
  background-color: rgba(
    var(--alkaline-earth-metal-color),
    var(--background-hover-opacity));
}

/* TODO: Fix this the green is way off */
.element--transition-metal {
  color: rgba(var(--transition-metal-color), 1);
  background-color: rgba(
    var(--transition-metal-color),
    var(--background-opacity));
}
.element--transition-metal:hover {
  background-color: rgba(
    var(--transition-metal-color),
    var(--background-hover-opacity));
}

.element--post-transition-metal {
  color: #5d7e58;
  /* rgba(var(--post-transition-metal-color), 1); */
  background-color: rgba(
    var(--post-transition-metal-color),
    0.6);
}
.element--post-transition-metal:hover {
  background-color: rgba(
    var(--post-transition-metal-color),
    0.7);
}

.element--metalloid {
  color: #896400;
  /* rgba(var(--metalloid-color), 1); */
  background-color: rgba(
    var(--metalloid-color), 0.8);
}
.element--metalloid:hover {
  background-color: rgba(
    var(--metalloid-color), 1);
}


/* reactive non-metal */
.element--polyatomic-nonmetal,
.element--diatomic-nonmetal {
  color: #1e6895;
  /* rgba(var(--diatomic-nonmetal-color), 1); */
  background-color: rgba(
    var(--diatomic-nonmetal-color),
    var(--background-opacity));
}
.element--polyatomic-nonmetal:hover,
.element--diatomic-nonmetal:hover {
  background-color: rgba(
    var(--diatomic-nonmetal-color),
    var(--background-hover-opacity));
}

.element--noble-gas {
  color: rgba(var(--noble-gas-color), 1);
  background-color: rgba(
    var(--noble-gas-color),
    var(--background-opacity));
}
.element--noble-gas:hover {
  background-color: rgba(
    var(--noble-gas-color),
    var(--background-hover-opacity));
}


.element--lanthanide {
  color: rgba(var(--lanthanide-color), 1);
  background-color: rgba(
    var(--lanthanide-color),
    var(--background-opacity));
}
.element--lanthanide:hover {
  background-color: rgba(
    var(--lanthanide-color),
    var(--background-hover-opacity));
}

.element--actinide {
  color: #a9774a;
  background-color: rgba(
    var(--actinide-color),
    var(--background-opacity));
}
.element--actinide:hover {
  background-color: rgba(
    var(--actinide-color),
    var(--background-hover-opacity));
}

.element--unknown {
  color: #636363;
  background-color: rgba(
    var(--unknown-color),
    var(--background-opacity));
}
.element--unknown:hover {
  background-color: rgba(
    var(--unknown-color),
    var(--background-hover-opacity));
}

.element--empty {
  flex: 1 0 100%;
  height: 0;
  margin: 0;
  padding: 0;
}

.element__top-row {
  display: flex;
}

.element__number {
  flex: 1 0 auto;
}

.element__mass {
  flex: 1 0 auto;
  text-align: right;
}

.element__name {
  text-align: center;
}

.element__symbol {
  font-size: 3.5em;
  line-height: 1em;
  text-align: center;
}

/* Form */

.input_form {
  align-self: center;
  margin: var(--form-margin);
  display: flex;
}

.input_form__text {
  padding-left: calc(var(--element-spacing) * 2);
}

.input_form__submit {
  border: none;
  margin-left: var(--element-spacing);
  padding: calc(var(--element-spacing) * 2) calc(var(--element-spacing) * 3);
  background-color: var(--button-background-color);
}

.input_form__submit:hover {
  background-color: var(--button-background-hover-color);
}

/* Controls */

.controls {
  display: flex;
  align-items: center;
  align-self: center;
  margin: var(--form-margin);
}

.controls__current-page { 
  margin: 0 var(--element-spacing);
}

.controls__prev-button,
.controls__next-button {
  border-radius: 50%;
  font-size: var(--button-font-size);
  height: var(--button-height);
  width: var(--button-height);
  display: inline-block;
  border: 0;
  background-color: var(--button-background-color);
}

.controls__prev-button:enabled:hover,
.controls__next-button:enabled:hover {
  background-color: var(--button-background-hover-color);
}

.controls__prev-button {
  margin-right: var(--element-spacing);
}

.controls__next-button {
  margin-left: var(--element-spacing);
}

/* Footer */

.footer {
  flex: 0 1 auto;
  margin: calc(var(--element-spacing) * 2);
  text-align: right;
}